@import 'node_modules/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;

header {
    background-color: rosybrown;
    color: floralwhite;
    text-align: center;
    border: 8px double floralwhite;
}

body {
    background-color: rosybrown;
    
    ul {
        @include grid-row();
        padding: 0;
        width: 80%;

        li {
            background-color: floralwhite;
            list-style-type: none;
            text-align: center;
            padding: 10px;
            width: 100%;
            border: 5px solid rosybrown;
        }
    }
}