@import 'node_modules/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;

header {
    background-color: indianred;
    color: floralwhite;
    text-align: center;
    border: 8px double floralwhite;
}

body {
    background-color: rosybrown;

        
    div {
        @include grid-row();
        padding: 0;
        width: 80%;

        li {
            @include grid-column(3);
            background-color: floralwhite;
            list-style-type: none;
            border: 5px solid rosybrown;
            text-align: center;
            margin-top: 30px;
            width: 25%;
        }
    }
    
    
    ul {
        @include grid-row();
        padding: 0;
        width: 80%;

        li {
            background-color: floralwhite;
            list-style-type: none;
            text-align: center;
            padding: 10px;
            width: 100%;
            border: 5px solid rosybrown;

            button {
                background-color: indianred;
                color: floralwhite;
                margin-bottom: 18.720px;
                width: 20%;
                height: 30px;
                border-radius: 20px;
            }

        }
    }
}
